TELEGRAM_BOT_TOKEN=

DATABASE_URL=postgresql+asyncpg://kuda:kuda@postgres:5432/kuda_segodnya

TZ=Europe/Moscow
LOG_LEVEL=INFO

TIMEPAD_CITIES=Москва
TIMEPAD_TOKEN=
KUDAGO_LOCATION=msk

GEMINI_API_KEY=
